@charset"utf-8";

@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");


/* 윤고딕 */
@font-face {

    font-family:YOG120;

    src: url('../img/YoonGothic120.eot');

    src: url('../img/YoonGothic120.eot?#iefix') format('embedded-opentype'),

         url('../img/YoonGothic120.woff') format('woff');

    font-weight: normal;
    font-style: normal; 
}

@font-face {

    font-family:YOG140;

    src: url('../img/YoonGothic140.eot');

    src: url('../img/YoonGothic140.eot?#iefix') format('embedded-opentype'),

         url('../img/YoonGothic140.woff') format('woff');

    font-weight: normal;
    font-style: normal; 
}

@font-face {

    font-family:YOG740;

    src: url('../img/YoonGothic740.eot');

    src: url('../img/YoonGothic740.eot?#iefix') format('embedded-opentype'),

         url('../img/YoonGothic740.woff') format('woff');

    font-weight: normal;
    font-style: normal; 
}

@font-face {

    font-family:YOG780;

    src: url('../img/YoonGothic780.eot');

    src: url('../img/YoonGothic780.eot?#iefix') format('embedded-opentype'),

         url('../img/YoonGothic780.woff') format('woff');

    font-weight: normal;
    font-style: normal; 
}


@font-face {

    font-family:glypha-bold;

    src: url('../img/glypha-bold.eot');

    src: url('../img/glypha-bold.eot?#iefix') format('embedded-opentype'),

         url('../img/glypha-bold.woff') format('woff'),

         url('../img/glypha-boldc.ttf') format('truetype');

    font-weight: normal;

    font-style: normal; 

}

@font-face {

    font-family:helveticaneueltpromd;

    src: url('../img/helveticaneueltpromd.eot');

    src: url('../img/helveticaneueltpromd.eot?#iefix') format('embedded-opentype'),

         url('../img/helveticaneueltpromd.woff') format('woff'),

         url('../img/helveticaneueltpromd.ttf') format('truetype');

    font-weight: normal;

    font-style: normal; 

}
@font-face {

    font-family:helveticaneueltpro-roman-webfont;

    src: url('../img/helveticaneueltpro-roman-webfont.eot');

    src: url('../img/helveticaneueltpro-roman-webfont.eot?#iefix') format('embedded-opentype'),

         url('../img/helveticaneueltpro-roman-webfont.woff') format('woff'),

         url('../img/helveticaneueltpro-roman-webfont.ttf') format('truetype');

    font-weight: normal;

    font-style: normal; 

}
 







  a{text-decoration:none;}
  caption{display:none;}
  table tr th{font-weight:normal;}

  /* 버튼 guide*/
  .btnGuide{width:100%;text-align:left;}
  .btn_purple{display:inline-block;width:62px;height:35px;line-height:35px;text-align:center;color:#fff;background-color:#c4004a;}
  .btn_purple_1{display:inline-block;width:84px;height:35px;line-height:35px;text-align:center;color:#fff;background-color:#c4004a;}

  .btn_gray{display:inline-block;width:125px;height:35px;line-height:35px;text-align:center;color:#fff;background-color:#757374;}
  .btn_gray_1{display:inline-block;width:62px;height:35px;line-height:35px;text-align:center;color:#fff;background-color:#757374;}
  .btn_gray_2{display:inline-block;width:65px;height:28px;line-height:28px;text-align:center;color:#fff;background-color:#757374;}
  .btn_gray_3{display:inline-block;width:90px;height:25px;line-height:25px;text-align:center;color:#fff;background-color:#757374;}

  .btn_white{display:inline-block;width:88px;height:23px;border:1px solid #cccccc;line-height:23px;text-align:center;color:#757575;background-color:#fff; }
  
  .btnTitle{font-size:15px;}





  /* 테이블 guide */
 
.tableDisplay {display:table;width:100%;}
.tableRow{display:table-row;}
.tableDisplay li{display:table-cell; font-size:12px; border-bottom:1px solid #dddddd;padding:15px 0 15px 0;text-align:center;} /*font size는 임의 조절 */
.tableDisplay ul:first-child{background-color:#f7f7f7;}
.tableDisplay ul:first-child li{border-top:1px solid #b4b4b4; font-family:'glypha-bold';text-align:center;}

 table{border-spacing:0; border-collapse:collapse; width:100%;}
.tableWrap{width:100%}
.tableWrap .table_1 tr th, 
.tableWrap .table_1 tr td{border-bottom:1px solid #dddddd;height:48px;font-size:12px;}

.tableWrap .table_1 tr:first-child th, 
.tableWrap .table_1 tr:first-child td{border-top:1px solid #b4b4b4;}
.txtCenter_Vnone{text-align:center; border-bottom:none !important;}
.txtCenter{text-align:center !important;}
.txtLeft{text-align:left !important;}


.tableWrap .table_2 thead tr th{background-color:#f7f7f7;}
.tableWrap .table_2 tr th, 
.tableWrap .table_2 tr td{border-bottom:1px solid #dddddd;height:38px;text-align:center;padding:12px 0 12px 0;font-size:12px;font-weight:bold;color:#4c4c4c;}
.tableWrap .table_2 tr:first-child th, 
.tableWrap .table_2 tr:first-child td{border-top:1px solid #b4b4b4;}
.pagination a{font-weight:normal !important; color:#757575;padding:0 5px 0 5px;}
.pagination a.current{color:#c40147;font-weight:bold !important;}


  /* font size guide*/
  .f_12 {font-size:12px;}
  .f_20 {font-size:20px;}
  .f_23 {font-size:23px;}
  .f_25 {font-size:25px;}

  /* font-color*/
.fontColor_1{color:#c40048;}

  /* web font[ENG] */
  .webFontE_1{font-family:'glypha-bold' !important;}
  .webFontE_2{font-family:'helveticaneueltpromd' !important;}
  .webFontE_3{font-family:'helveticaneueltpro-roman-webfont' !important;}

  .webFontE_4{font-family:YOG120 !important;}
  .webFontE_5{font-family:YOG140 !important;}
  .webFontE_6{font-family:YOG740 !important;}
  .webFontE_7{font-family:YOG780 !important;}

.txt_11{font-size:11px;color:#4d4c4c;}
.txt_12{font-size:12px;color:#4d4c4c;}

/* example <a href='#' class="txt_1 webFontE_1"></a> */

#mHead{display:none;border:1px solid #b4b4b4;}

@media all and (max-width:480px){
	#removeHead{display:none;}
	#mHead{display:table-Row;}
	.tableDisplay ul li:last-child{display:none;}

}





/* common에 추가될 css */

.login, .join, .contact{font-family:helveticaneueltpromd;}
#content .pcContents{width:100%;height:90px;clear:both;padding-top:20px;}
#content .pcContents div > a {display:inline-block;vertical-align:middle;width:260px; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;padding:0 0 0 5px;}
#content .pcContents div > span{position:absolute; top:15px;right:50px;}
#content .pcContents .news{position:relative;float:left;width:50%;}
#content .pcContents .press{position:relative;float:right;width:50%;}

#content .mobileContents{width:100%;padding-top:20px;}
#content .mobileContents .newPress{position:relative;width:95%;margin:0 auto;}
#content .mobileContents .newPress > *{font-family:helveticaneueltpromd;}
#content .mobileContents .newPress .firstP >*{font-size:17px;padding:0 0 10px 0;}
#content .mobileContents .newPress .firstP > span.firstS{color:#c4004a;}
#content .mobileContents .newPress .firstP > span.secondS{color:#333333;}
#content .mobileContents .newPress .firstP > a{color:#757474;position:absolute;top:0;right:0;}
#content .mobileContents .newPress .secondP{margin-top:10px;}
#content .mobileContents .newPress .secondP > span,
#content .mobileContents .newPress .secondP > a{font-size:14px;}


#content .mobileContents .newShop{position:relative;width:95%;margin:0 auto;margin-top:27px;}
#content .mobileContents .newShop > *{font-family:YOG780;}


#content .mobileContents .newShop .firstP{ margin-bottom:15px;}
#content .mobileContents .newShop .firstP .firstS{font-size:17px; color:#c4004a;}
#content .mobileContents .newShop .secondP .firstDiv{float:left;width:50%;}
#content .mobileContents .newShop .secondP .secondDiv{float:right;width:50%;}
#content .mobileContents .newShop .secondP div p{margin-top:9px;}
#content .mobileContents .newShop .secondP a img{width:95%;}
#content .mobileContents .newShop .secondP p a{font-size:15px; font-family:YOG740;}
#content .mobileContents .newShop .blankDiv{clear:both;margin-bottom:25px;}
/* #content .mobileContents .newPress p >*{font-family:Arial;}  */


 #footer >*{font-family:YOG740;font-size:12px;}


/* 회원가입에서 사용하는 css*/

#content .innerContent{padding-top:30px;}
#content .innerContent > *{font-family:YOG120 !important; font-size:12px;}
#content .innerContent .joinStep{height:105px;}
#content .innerContent .joinStep ul li{ float:left;padding-left:20px;}
#content .innerContent .joinStep ul li:first-child{ padding-left:0;}
#content .innerContent .joinStep ul li img{width:100%;}
#content .innerContent .joinStep + .cb{margin-top:50px; color:#757474;}
#content .innerContent .authTab{margin-top:15px;}
#content .innerContent .authTab ul li{ float:left;width:49%;text-align:center;height:33px;line-height:33px;border-bottom:1px solid #757474;background-color:#f7f7f7;}
#content .innerContent .authTab ul li a{color:#4d4c4c;font-weight:bold;}
#content .innerContent .authTab ul li.on{border:1px solid #757474;border-bottom:0;background-color:#fff;}
#content .innerContent .authTab .tabContent .btnArea{text-align:center;}
#content .innerContent .authTab .tabContent p{color:#4d4c4c;}
#content .innerContent .authTab .tabContent p:first-child{padding:50px 0 30px 0;}

